header{
	z-index: 99;
	background-color: white;
	height: 150px;
	/*border-top : 1px solid black;/
	border-bottom: 1px solid black;*/
}

header nav{
	z-index: 100;
	background-color: white;
    height: 50px;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    position: fixed;
    border-top: 2px  #999;
    width: 100%;
    left: 50%;
    padding: 10px;
    display: inline;
    align: center;
    transform: translate(-50%,0%);
    margin-top: 15px;
    -webkit-box-shadow: 0px 6px 4px -6px #999;
    -moz-box-shadow: 0px 6px 4px -6px #999;
    box-shadow: 0 6px 4px -6px #999,
    			0 -4px 2px -4px #DCDCDC;
    float :center;
	/*padding-left: 100px;*/
	text-align: center;


}

nav div.company-logo{
	height:50px;
	display: inline;
    align: center;
    left: 50%;
    transform: translate(-50%,0%);
    /*margin-top: 20px;*/
    content: url("../assets/endava.jpg");
}

#buttons{
	margin-left:20px;
	height: 25px;
	max-width: 50%;
	display:inline;
}

.button{
	margin-top: 10px;
	padding-top: 10px;
	height: 20px;
	margin-left: 40px;
	padding: 4px 4px;
    text-align: center;
	display: inline;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11px;
	color: grey;
	vertical-align: top;
}

.content1{
	background-color: #30c3a6;
	position: relative;
	height: 350px;
	width: 100%;
	display: block;
	/*display: flex;
  	justify-content: center;
	/*border-top : 1px solid black;
	border-bottom: 1px solid black;*/
}

#home div{
	vertical-align: middle;
	/*border: 2px solid black;*/
	height: 200px;
	position: relative;
	align-self: center;
	vertical-align: middle;
	padding-top: 30px;
	/*display: inline;
    align: center;
    left: 50%;
    transform: translate(-50%,0%);*/
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

#home div > h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 38px;
	margin-bottom: -5px;
	vertical-align: top;
	text-transform: uppercase;
	color: white;
	text-align: center;

}

#home div > p{
	position: absolute;
    text-align: center;
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
	color: white;
}


#about{
	background-color: white;
    min-height: 350px;
}

#about div{
	vertical-align: middle;
	/*border: 2px solid black;*/
	height: 80%;
	position: relative;
	align-self: center;
	vertical-align: middle;
	padding-top: 30px;
	/*display: inline;
    align: center;
    left: 50%;
    transform: translate(-50%,0%);*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 45%;
}

#about div > h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
    color: grey;
    width: 100%; 
    text-align: center; 
    border-bottom: 3px solid lightgrey; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

#about div> h1 span { 
    background:#fff; 
    padding:0 50px;
}

#about div > p{
	/*position: absolute;*/
    text-align: center;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: grey;
}

#photos{
    background-color: #30c3a6;
    min-height: 800px;
}

#photos #container{
    vertical-align: middle;
    /*border: 2px solid black;*/
    height: 80%;
    position: relative;
    align-self: center;
    vertical-align: middle;
    padding-top: 30px;
    /*display: inline;
    align: center;
    left: 50%;
    transform: translate(-50%,0%);*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 45%;
}

#photos div > h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 100%; 
    text-align: center; 
    border-bottom: 3px solid lightgrey; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

#photos div> h1 span { 
    background:#30c3a6; 
    padding:0 50px;
}


.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.readButton {
    background-color: #555555; /* black */
    border: none;
    color: white;
    position:relative;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    margin: 4px 2px;
    left: 50%;
    transform: translate(-50%,0%);
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #30c3a6;
    color: white;
}

.button2:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 800px) {
    .content1{
        height: 700px;
        border: 2px solid black;
    }

    #home div{
        height:300px;
    }
}


/* grid */
[class*="row-"] {
  margin-bottom: 20px;
  text-align: center;
}
[class*="row-"]:last-child {
  margin-bottom: 0;
  text-align: center;
}
[class*="col-"] {
    text-align: center;
    margin-bottom: 20px;
}

@media all and ( min-width: 768px ) {
  
  /* all cols margin */
  [class*="col-"] {
    margin-right: 20px;
  }
  [class*="col-"]:last-child {
    margin-right: 0;
  }
  
  /* make the columns responsive */
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-1-4 {
    float: left;
    width: 25%;
  }

  .col-1-3 {
    float: left;
    width: 33%;
  }

  /* 3 span rows */
  .row-3 {
    padding-left: 40px;
  }
  .row-3 [class*="col-"]:first-child {
    margin-left: -40px;
  }
  
}

.col-1-3 h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.col-1-3{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
